.table-1,.table-1 td,.table-1 th{
    border:1px solid black;border-collapse:collapse;
    
}

.table-2,.table-2 td,.table-2 th{
    border:1px solid black;border-collapse:collapse;
    background:gainsboro;
}
.table-3,.table-3 td,.table-3 th{
    border:3px solid black;border-collapse:collapse;
    font-weight: bold;
}
h1{
    text-align: center;
}

.special{
    text-decoration: underline;
}