.container{
    margin:10px auto;
    padding:10px;
    width:90%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.int{
    display:flex;
    justify-content: space-between;
    flex-basis: 100%;
}

.bold{
    font-weight: bolder;
}

ul li{
    margin-bottom:5px;
}

h2,h3{
    text-align:center;
}